@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


main{
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    top: 0px;
}

.parallax {
    pointer-events: none;
    transition: 0.45s cubic-bezier(0.075, 0.49, 0.32, 1);
}
.checkout{
    z-index: 10;
    place-self: center;
    position: absolute;
}
