.calendarRow {
    display: flex;
    gap: 3px;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out;
}

.calendarCell {
    transition: transform 0.3s ease-in-out;
}

.calendarCell:hover {
    transform: scale(1.1);
    border: none;
}