
.TypingArea {
  padding: 5px 10px;
  color: #345246;
  border: none; 
  outline: none; 
  overflow: hidden;
}

.scrollbar-hidden {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* WebKit */
}
