.container {
    width: 400px;
    margin: auto;
  }
  
  .toggle-icon {
    cursor: pointer;
  }
  
  .Bot-messages {
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 300px; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column; /* Stack messages vertically */
  }
  
  .message {
    margin-bottom: 10px;
  }
  
  .message-User {
    display: flex;
    justify-content: flex-end; /* Align user messages to the right */
  }
  
  .message-User .message-content {
    background-color: #007bff; /* User message background color */
    color: #fff; /* User message text color */
  }
  
  .message-Bot {
    display: flex;
    justify-content: flex-start; /* Align bot messages to the left */
  }
  
  .message-header {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .message-content {
    background-color: #373737; /* Default message background color */
    padding: 10px;
    border-radius: 8px;
    max-width: 70%;
  }
  
  .Bot-input {
    margin-top: 10px;
  }
  
  .Bot-input form {
    display: flex;
    align-items: center;
  }
  
  .Bot-input input {
    flex: 1;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
  }
  
  .Bot-input button {
    padding: 6px 10px;
    margin-left: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .Bot-input button:hover {
    background-color: #0056b3;
  }
  
  .container .Bot-messages,
  .container .Bot-input {
    display: none;
  }
  
  .container.collapsed .toggle-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  .container.collapsed .toggle-icon:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .container.collapsed .toggle-icon::before {
    content: '▲';
  }
  
  .container.collapsed .toggle-icon:hover::before {
    content: '▲';
  }
  
  .container.collapsed .toggle-icon::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
  }
  