main{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}
.parallax{
    pointer-events: none;
}

.bg-img{
    position: absolute;
    width: 2800px;
    z-index: 1;
    top: calc(50%);
    left: calc(50%);
}
.bg-fog1{
    position: absolute;
    width: 2800px;
    top: calc(50%);
    left: calc(50%);
    z-index: 4;
}
.bg-fog2{
    position: absolute;
    width: 2800px;
    top: calc(50%);
    left: calc(50%);
    z-index: 2;
}
.tw-right3{
    position: absolute;
    top: calc(50% + 250px);
    left: calc(50% + 200px);
    z-index: 9;
}
.tw-right2{
    position: absolute;
    top: calc(50% + 300px);
    left: calc(50% + 920px);
    z-index: 2;
}
.tw-right1{
    position: absolute;
    top: calc(50% + 200px);
    left: calc(50% + 800px);
    z-index: 2;
}
.tw-left3{
    position: absolute;
    top: calc(50% + 425px);
    left: calc(50% - 200px);
    z-index: 2;
}
.tw-left2{
    position: absolute;
    top: calc(50% + 350px);
    left: calc(50% - 600px);
    z-index: 2;
}
.tw-left1{
    position: absolute;
    top: calc(50% + 300px);
    left: calc(70px);
    z-index: 2;
}
.tw-flight{
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 300px);
    z-index: 10;
}

.text{
    position: absolute;
    z-index: 9;
    top: calc(50% - 120px);
    left: calc(50%);
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

.text h2{
    font-weight: 100;
    font-size: 3em;
}
.text h1{
    font-weight: 800;
    font-size: 5.5em;
    line-height: 0.99;
}
.parallax {
    pointer-events: none;
    transition: 0.45s cubic-bezier(0.075, 0.49, 0.32, 1);
}