@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


main{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}

.parallax {
    pointer-events: none;
    transition: 0.45s cubic-bezier(0.075, 0.49, 0.32, 1);
}
