
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  


  form {
    display: flex;
    flex-direction: column;
  }
  

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #F5B750;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: xx-large;
    cursor: pointer;
    height: 2em;
    width: 6em;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s ease, transform 0.5s ease; ;
  }
  
  button[type="submit"]:hover {
    background-color: #ffb700;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
    transform: translateY(-4px);
  }
  
  .input {
    border: none;
    outline: none;
    border-radius: 15px !important;
    padding: 1em ;
    height: 4em;
    background-color: #e1e2e3;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    color: #335145;
    font-weight: normal;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  }
  
  .input:focus {
    background-color: #ebebeb;
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    color: 335145;
  }
  
  .input::placeholder {
    color: #335145;
    font-weight: bold;
  }

  .input[type="text"] {
    padding-left: 20px; /* Adjusted padding-left */
  }

  