@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.slider{
    width: 75%;
    height: 5px;
    background-color: #ebebeb;
    margin-top: 10px;
}

.slider .thumb{
    height: 20px;
    width: 20px;
    cursor: pointer ;
    background-color: #F5B750;
    border-radius: 50%;
    top: -8px;
}

.value {
    align-items: center;
}

.sidebar-label {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #EBEBEB;
    margin-right: 10px; /* Adjust spacing between circle and label */
}

/* Style for when checkbox is checked */
input[type="checkbox"]:checked + .circle {
    background-color: #F5B750; /* Change the color as needed */
}

/* Hide the default checkbox */
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: auto;
}
