.hamburger{
    padding-left : 1.5rem;
  }
  .hamburger a{
    padding:0;
    width:37px;
    height: 39px;
    border-radius:50%;
    
    display : flex;
    justify-content: center;
    align-items: center;
    background : transparent;
  }
  
  .hamburger .bar{
    position: relative;
    width: 52%;
    height:2px;
    background-color: black;
    border-radius:5px;
  }
  .hamburger .bar::before,
  .hamburger .bar::after{
    content:"";
    position: absolute;
    width: 60%;
    height: 100%;
    left:50%;
    background-color: inherit;
    border-radius: 2px;
    transform: translate(-50%);
  }
  .hamburger .bar::before{
    top:-4.5px;
  }
  .hamburger .bar::after{
    top:5px;
  }


.dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  /* .dropdown-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
  } */
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -20%;
    padding: 10,10;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .dropdown-menu a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s;
  }
  
  .dropdown-menu a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown-menu.open {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  